:root{
  --text-color: #f5f5f5;
}

.icon-bar {
    position: fixed;
    top: 97%;
    right: 12px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-100%);
    color: white;
    font-size: 4rem;
    border:none;
    border-radius:50%;
    padding:5px;
    background-color: black;
    height:auto;
  }

  
  .icon-bar:hover{
    background-color:white;
    color:black;
  }
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;

   
  }

  


  @media (max-width:450px){
    .icon-bar{
      display:none;
    }
    
  }

  .header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:35rem;
    box-shadow: var(--box-shadow);
    padding:2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
  }
  
  .header .login-form.active{
    right:2rem;
    transition: .4s linear;
  }
  
  .header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
  }
  
  .header .login-form .box{
    width: 100%;
    margin:.7rem 0;
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
  }
  
  .header .login-form p{
    font-size: 1.4rem;
    padding:.5rem 0;
    color: black;
  }
  
  .header .login-form p a{
    color:var(--orange);
    text-decoration: underline;
  }
  .btn{
    text-transform: capitalize;
  }
  .copy{
    color:White;
    text-align:center;
    background-color: black;
    font-size:15px;
    padding:5px;
  }
  
  .cart-page{
    margin: 80px auto;
    
  }


  table{
    width:100%;
    border-collapse: collapse;
   
  }

  .cart-info{
    display:flex;
    flex-wrap:wrap;
  }

  
  .bg-text-blog {
    color: white;
    font-weight: bold;
    border: 0px solid #f1f1f1;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  .bg-text-blog h1{
    font-size:5rem;
  }
  

  .banner_title{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(image/banner_bottle.jpg);
    background-size:cover;
    background-position: center;
    width:100%;
    height:40vh;
  }
  
  .container{
    max-width: 1600px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer{
    margin-top:150px;
    background-color: var(--bg-color);
      padding: 70px 0;
  }
  .footer-col ul li{
    font-size:15px;
  }
  .footer-col{
     width: 20%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li {
    color:var(--text-color);
  }
  
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    display:inline-block;
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  .footer-col .bx{
    background-color: rgba(255,255,255,0.2);
    height:40px;
    width:40px;
    text-align:center;
    line-height:40px;
    border:1px solid #333;
    border-radius: 50%;
    font-size:1.5rem;
    margin-right:10px;
  }
  
  
  /*responsive*/
  @media(max-width: 700px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 500px){
    .footer-col{
      width: 100%;
      margin-left: -30px;
  }
  }

  @media (max-width:450px){
    iframe{
      width:100%;
    }
  }